table {
  width: 100%;
}
h1 {
  margin: 0;
}
.container-guest-list-title {
  width: 100%;
  margin: 0;
  text-align: center;
}
.container-guest-list-content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
