<div class="container-guest-detail">
  <h1 class="container-guest-detail-title mat-title">Booking Web App</h1>
  <div class="container-guest-detail-content-heading">
    <button mat-mini-fab color="primary" type="button" [routerLink]="['/guests']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="mat-h3">Guest Details</h1>
  </div>
  <div class="container-guest-detail-content">
    <mat-card *ngIf="(guest$ | async) as guest">
      <h1 class="mat-h3">Guest Name: {{guest.name || ''}}</h1>
      <h1 class="mat-h3">Guest Email: {{guest.email || ''}}</h1>
      <h1 class="mat-h3">Guest Phone: {{guest.phone || ''}}</h1>
      <h1 class="mat-h3">Guest Address: {{guest.address || ''}}</h1>
    </mat-card>
  </div>
</div>
