.container-guest-list {
  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 142px)) 1fr;
  grid-template-rows: repeat(3, min-content);

  & > * {
    padding: 16px 24px;
  }

  &-title {
    grid-column: 2 / 10;
    grid-row: 1 / 2;
  }

  &-table-heading {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
  }

  &-table {
    grid-column: 2 / 10;
    grid-row: 3 / -1;
  }
}
