<form [formGroup]="bookingForm">
  <mat-form-field appearance="fill">
    <mat-label>Choose a Check In Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="checkInDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select a Room</mat-label>
    <mat-select formControlName="rooms">
      <mat-option>
        None
      </mat-option>
      <ng-container *ngIf="(roomsList$ | async) as roomsList">
        <mat-optgroup *ngFor="let roomGroup of roomsList" [label]="roomGroup.level">
          <ng-container *ngFor="let room of roomGroup.rooms">
            <mat-option *ngIf="!room.occupied" [value]="room">
              {{room.roomNo}}
            </mat-option>
          </ng-container>
        </mat-optgroup>
      </ng-container>
    </mat-select>
  </mat-form-field>
</form>
